

@font-face {
    font-family: 'Montserrat Alternates Black';
    src: url('../fonts/MontserratAlternates-Black.eot');
    src: url('../fonts/MontserratAlternates-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MontserratAlternates-Black.woff2') format('woff2'),
        url('../fonts/MontserratAlternates-Black.woff') format('woff'),
        url('../fonts/MontserratAlternates-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Alternates Bold';
    src: url('../fonts/MontserratAlternates-Bold.eot');
    src: url('../fonts/MontserratAlternates-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MontserratAlternates-Bold.woff2') format('woff2'),
        url('../fonts/MontserratAlternates-Bold.woff') format('woff'),
        url('../fonts/MontserratAlternates-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('../fonts/MontserratAlternates-Regular.eot');
    src: url('../fonts/MontserratAlternates-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MontserratAlternates-Regular.woff2') format('woff2'),
        url('../fonts/MontserratAlternates-Regular.woff') format('woff'),
        url('../fonts/MontserratAlternates-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

