.header {
  padding: 1.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 9999;
}
.cart__span-box {
  font-size: 2.2rem;
  display: flex;
  align-items: center;
}
.cart__span-box svg {
  display: block;
  width: 3rem;
  height: 3rem;
}
.cart__span {
  font-family: var(--title-font);
  display: block;
  margin-left: 1rem;
}

.header__logo {
  display: block;
}

@media screen and (min-width: 1440px) {
}
