.front-page__main {
  background-color: var(--first-brand-color);
  overflow-x: hidden;
}
.hero__wrapper {
  position: relative;
}
.hero {
  padding: 10rem 0 15rem;
  text-align: center;
  position: relative;
}
.hero .title {
  margin: 0 auto 1rem;
  max-width: 35rem;
}
.hero__block .text {
  margin: 0 auto 3rem;
  max-width: 35rem;
}
.hero-svg {
  display: block;
  width: 10rem;
  height: auto;
  position: absolute;
  bottom: 0;
  right: 0;
}
.hero-svg-second,
.hero-svg-third {
  display: none;
}

.contacts {
  padding: 10rem 0;
  text-align: center;
}
.contacts__block {
  margin: 0 auto 8rem;
  max-width: 40rem;
}
.contacts__title {
  font-family: var(--title-font);
  font-size: 2rem;
  margin-bottom: 2rem;
}
.contacts__item:not(:last-child) {
  margin-bottom: 1rem;
}
.contacts__item-text {
  font-size: 1.4rem;
  font-family: var(--title-font);
}
a.contacts__item-text {
  transition: all 0.3s ease-in-out;
}


.phrase__wrapper {
  position: relative;
}
.phrase {
  padding: 10rem 0;
  text-align: center;
  position: relative;
}
.phrase__block {
  margin: 0 auto;
  max-width: 70rem;
}
.phrase__svg {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 20rem;
  height: auto;
}
@media screen and (min-width: 1440px) {
  .hero__wrapper::before {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 28rem;
    background-color: var(--second-brand-color);
  }
  .hero {
    padding: 20rem 0;
  }
  .hero::before {
    position: absolute;
    display: block;
    content: '';
    width: 7rem;
    height: 30rem;
    bottom: 0;
    right: 25rem;
    background-color: var(--second-brand-color);
  }
  .hero .title {
    max-width: 50rem;
    padding: 2rem 3rem;
    border: .1rem solid var(--main-text-color);
  }
  .hero-svg-second {
    display: block;
    position: absolute;
    width: 100rem;
    height: auto;
    top: -50%;
    right: -40rem;
  }
  .hero-svg-third {
    display: block;
    position: absolute;
    width: 100rem;
    height: auto;
    bottom: -50%;
    left: -40rem;
  }
  .hero-svg {
    width: 30rem;
  }
  .hero-box {
    width: 40rem;
    height: 1.3rem;
    border-radius: 5rem;
    border: .1rem solid var(--main-text-color);
    position: absolute;
    top: 5rem;
    left: 5rem;
  }

  .contacts__item:not(:last-child) {
    margin-bottom: 0;
  }
  .contacts__item {
    width: 32%;
    position: relative;
  }
  .contacts__item-text.pos {
    position: absolute;
    top: -13rem;
    left: 50%;
    transform: translate(-50%, 0);
    color: var(--second-brand-color);
    text-transform: uppercase;
    -webkit-text-stroke: .1rem var(--main-text-color);
    font-size: 2rem;
    font-family: var(--main-title-font);
  }
  .contacts__item::before {
    background-color: var(--main-text-color);
    display: block;
    content: '';
    width: .1rem;
    position: absolute;
    height: 9rem;
    top: -10rem;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .contacts__list {
    max-width: 90%;
    margin: 0 auto;
    padding-top: 10rem;
    border-top: .1rem solid var(--main-text-color);
    display: flex;
    justify-content: space-between;
  }
  .contacts__block {
    margin-bottom: 12rem;
  }
  a.contacts__item-text:hover {
    letter-spacing: .5rem;
  }

  .phrase {
    padding: 15rem 0;
    text-align: left;
  }
  .phrase__svg {
    bottom: 3rem;
    width: 40rem;
  }
  .phrase__wrapper::before {
    position: absolute;
    width: 100%;
    height: 25rem;
    bottom: 0;
    display: block;
    content: '';
    background-color: var(--second-brand-color);
  }
  .phrase__block {
    display: flex;
    align-items: center;
    max-width: 100rem;
  }
  .phrase .contacts__title {
    padding: 3rem;
    width: 40rem;
    min-width: 40rem;
    border: .1rem solid var(--main-text-color);
    font-size: 4rem;
    margin: 0 3rem 0 0;
  }
}
