:root {
  --main-bg-color: #fff;
  --sub-bg-color: #000;
  --main-text-color: #000;
  --sub-text-color: #fff;
  --inactive: #818181;
  --success: #bee3be;
  --link-color: blue;
  --accent-color: #ff0000;
  --active: #6bff21;

  --first-brand-color: #e6e6e6;
  --second-brand-color: #c9f500;

  --main-font: 'Montserrat Alternates';
  --title-font:  'Montserrat Alternates Bold';
  --main-title-font:  'Montserrat Alternates Black';

  font-size: 62.5%;
}
